<?xml version="1.0"?>
<hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
  <session-factory>
    
    <property name="connection.driver_class">NHibernate.Driver.NpgsqlDriver</property>
    <property name="dialect">NHibernate.Dialect.PostgreSQLDialect, NHibernate</property>


    <property name="connection.connection_string">Server=localhost;Port=5432;Database=manytooneproblem;User Id=postgres;Password=123@postgres;</property>

    <property name="default_schema">public</property>
    <property name="show_sql">true</property>
    <property name="command_timeout">30000</property>
    <property name="use_proxy_validator">false</property>
    <property name="adonet.batch_size">10</property>
    <property name="current_session_context_class">NHibernate.Context.WcfOperationSessionContext</property>

    <mapping assembly="ManyToOneProblem" />
  </session-factory>
</hibernate-configuration>